<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if nombres %}
    <ul>
        {% for nom in nombres %}
            <li>{{nom.nombre}}</li>
            <li>{{nom.telefono}}</li>
            <li>{{nom.email}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No se encontraron proveedores.</p>

    {% endif %}

</body>
</html>